#bars {
  display: flex;
  width: 80vw;
  column-gap: 2px;
}

.bar {
  background-color: lightskyblue;
  /* height: 80px; */
  width: 20px;
  border: 2px solid rgb(218, 173, 188);
  align-self: flex-end;
}
